{
  "presets": ["@babel/preset-env"],
  "plugins": ["@babel/transform-runtime",
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-proposal-object-rest-spread",
    [
      "module-resolver",
      {
        "root": ["./src"],
        "alias": {
          "@controller": "./src/controller",
          "@services": "./src/services",
          "@db": "./src/db",
          "@models": "./src/models",
          "@utils": "./src/models",
          "underscore": "lodash"
        }
      }
    ]
  ]
}
